
.icon-group:before { content: '\e800'; } /* '' */
.icon-slideshare:before { content: '\e801'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-school:before { content: '\e834'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */